<div class="contenedor">
    <div class="contenedor-carousel">

        <owl-carousel-o [options]="customOptions">
            
            <div class="espaciado">
                <ng-template carouselSlide>
                
                    <div class="carta-educadores">
                        <p class="nombre-educadores">Armando <br> Ortega</p>
                        <div class="box-educadores">
                            <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                            <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                        </div>
                        <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                    </div>
    
                </ng-template>
            </div>

            <ng-template carouselSlide>
                
                <div class="carta-educadores">
                    <p class="nombre-educadores">Armando <br> Ortega</p>
                    <div class="box-educadores">
                        <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                        <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                    </div>
                    <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                </div>

            </ng-template>

            <ng-template carouselSlide>
                
                <div class="carta-educadores">
                    <p class="nombre-educadores">Armando <br> Ortega</p>
                    <div class="box-educadores">
                        <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                        <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                    </div>
                    <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                </div>

            </ng-template>

            <ng-template carouselSlide>
                
                <div class="carta-educadores">
                    <p class="nombre-educadores">Armando <br> Ortega</p>
                    <div class="box-educadores">
                        <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                        <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                    </div>
                    <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                </div>

            </ng-template>

            <ng-template carouselSlide>
                
                <div class="carta-educadores">
                    <p class="nombre-educadores">Armando <br> Ortega</p>
                    <div class="box-educadores">
                        <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                        <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                    </div>
                    <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                </div>

            </ng-template>

            <ng-template carouselSlide>
                
                <div class="carta-educadores">
                    <p class="nombre-educadores">Armando <br> Ortega</p>
                    <div class="box-educadores">
                        <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                        <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                    </div>
                    <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                </div>

            </ng-template>

            <ng-template carouselSlide>
                
                <div class="carta-educadores">
                    <p class="nombre-educadores">Armando <br> Ortega</p>
                    <div class="box-educadores">
                        <img src="../../../assets/img/02-educadores/profesor1.jpg" class="model-educadores">
                        <!-- <img src="../../../assets/img/03-niveles/docenteIco1.png" class="etiqueta-educadores"> -->
                    </div>
                    <p class="descripcion-educadores">Lorem ipsum dolor sit amet consectetur adipiscing elit malesuada fames aenean.</p>
                </div>

            </ng-template>
        
        </owl-carousel-o>

    </div>
</div>