<div class="contenedor text-center">
    <div class="contenedor-carrusel col-md-12">
        
        <owl-carousel-o [options]="customOptions">
            
            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Canto</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen2.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Debate en familiar</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen3.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen4.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Ingles</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen5.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Gana una laptop</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen6.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Liderazgo</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen7.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Declamacion en casa</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen8.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Narracion de cuentos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen9.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Oratoria</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen10.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Quechua</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen11.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Salud General</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen12.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Gana un celular</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen13.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen14.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Gana una tablet</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen15.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Teatro</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen16.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">T.I.C</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen17.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Yoga</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</div>
