<div class="contenedor text-center">
    <div class="contenedor-carrusel col-md-12">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="contenedor-slide">
                    <div class="card ard-body col-md-12">
                        <img class="img-fluid" src="../../../assets/img/04-talleres/imagen1.jpg">
                        <div class="col-md-12 shadow"></div>
                        <p class="titulo">Cursos</p>
                        <p class="sub-titulo">leer mas</p>
                    </div>
                </div>
            </ng-template>

        </owl-carousel-o>
    </div>
</div>
