.contenedor{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(180deg, #F8F8F8 50%, #F38630 50%);
    justify-content: center;
    align-items: center;
    
}
.contenedor-carrusel{
    background-color: transparent;
    display: block;
}
.contenedor-slide{
    margin-right: 25px;
    margin-left: 25px;
}

.card{
    padding: 0;
    border-radius: 0;
    border: unset;
}

.shadow{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    height: 54vh;
    
}
.row{
    height: 90vh;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.img-fluid{
    height: 54vh;
}

.titulo{
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align:left;

    color: #FFFFFF;

    position: absolute;
    padding-top:35.7vh ;
    padding-left: 10px;
}

.sub-titulo{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: left;

    color: #FFFFFF;

    position: absolute;
    padding-top:40.8vh ;
    padding-left: 10px;
}


