<div class="sidebar-dashboard">
    <div class="decorador">
        <div class="circulo-grande">

        </div>
        <div class="circulo-pequeño">

        </div>
    </div>
    <div>
        <div class="logo"></div>
        <p class="nombre-logo">Sumaq<br>Yachay</p>

        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <i class="fas fa-bars"></i> 
        </label>
    </div>

    <div class="contenedor-botones">
        <button class="boton-slider activo"><i class="fas fa-home"></i>&nbsp;&nbsp;Inicio</button>
        <button class="boton-slider"><i class="far fa-sticky-note"></i>&nbsp;&nbsp;Acerca de...</button>
        <button class="boton-slider"><i class="far fa-question-circle"></i>&nbsp;&nbsp;Ayuda</button>
        <button class="boton-slider"><i class="fas fa-cog"></i>&nbsp;&nbsp;Configuracion</button>
    </div>
</div>