<div class="contenedor-dashboard">
    
    <app-side-bar></app-side-bar>

    <header class="header-dashboard">
        <div class="line"></div>
        <button class="boton-noti"><i class="far fa-bell"></i></button>
        <div class="line"></div>
        <div class="usuario">
            <div>
                <p class="type-text name">Javier Coronel</p> 
                <p class="type-text rol">Usuario-ROL</p>
            </div>
            <img src="../../../assets/img/header-Dashoard/user.jpg" alt="">
        </div>
    </header>
    
</div>