<div class="contenedor-dashboard">
    <!--Inicio sidebar-->
    <div class="sidebar-dashboard">
        <div class="decorador">
            <div class="circulo-grande">

            </div>
            <div class="circulo-pequeño">

            </div>
        </div>
        <div>
            <div class="logo"></div>
            <p class="nombre-logo">Sumaq<br>Yachay</p>

            <input type="checkbox" class="menu-btn" id="menu-btn">
            <label for="menu-btn" class="menu-icon">
                <i class="fas fa-bars"></i> 
            </label>
        </div>

        <div class="contenedor-botones">
            <button class="boton-slider activo"><i class="fas fa-home"></i>&nbsp;&nbsp;Inicio</button>
            <button class="boton-slider"><i class="far fa-sticky-note"></i>&nbsp;&nbsp;Acerca de...</button>
            <button class="boton-slider"><i class="far fa-question-circle"></i>&nbsp;&nbsp;Ayuda</button>
            <button class="boton-slider"><i class="fas fa-cog"></i>&nbsp;&nbsp;Configuracion</button>
        </div>
    </div>

    <!--Inicio header-->
    <header class="header-dashboard">
        <div class="line"></div>
        <button class="boton-noti"><i class="far fa-bell"></i></button>
        <div class="line"></div>
        <div class="usuario">
            <div>
                <p class="type-text name">Javier Coronel</p> 
                <p class="type-text rol">Usuario-ROL</p>
            </div>
            <img src="../../../assets/img/header-Dashoard/user.jpg" alt="">
        </div>
    </header>
    
</div>