.contenedor-dashboard{
    display: flex;
    background-color: #c4c4c4;
}

.sidebar-dashboard{
    display: block;
    background-color: #3B8686;
    width: 320px;
    min-width: 320px;
    max-height: 100vh;
    height: 100vh;
    &.show{
        display: none;
        transition: all linear 5s;
    }
    .contenedor-decorador{
        //background-color: olive;
        width: 100%;
        height: 38vh;
        position: relative;
        .decorador{
            background-color: #0B486B;
            width: 100%;
            height: 180px;
        }
        .circulo-grande{
            position: absolute;
            background-color: #0B486B;
            width: 360px;
            height: 360px;
            border-radius: 300px 300px 300px 300px;
            top:-35px;
            left:-135px;
        }
        .circulo-pequeño{
            position: absolute;
            background-color: #3B8686;
            width: 100px; 
            height: 200px;
            left: 220px;
            top:100px ;
            border-radius: 100px 0 0 100px   
        }
        .logo{
            position: absolute;
            background-color: #69D2E7;
            width: 160px;
            height: 160px;
            border-radius: 100%;
            top: 5%;
            left: 5%;
        }
        .nombre-logo{
            position: absolute;
            top: 190px;
            left: 60px;
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 23px;
            text-align: center;
            color: white;
        }
        .menu-btn{
            display: none;
        }
        label{
            position: absolute;
            top: 11px;
            left: 270px;
            
            font-size: 3rem;
            color: #c4c4c4;
        }
    }
    .contenedor-botones{
        margin-top: 50px;
        text-align: right;
        margin-left: 20px;
        margin-right: 5px;
        .boton-slider{
            margin-top: 10px;
            margin-bottom: 10px;

            height: 82px;
            width: 262px;
            background-color: #3B8686;
            border-radius: 20px;
            border: 0;
            
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            text-align: left;
            color: #c4c4c4;
            i{
                padding-left: 10px;
            }
        }
        .activo{
            background: linear-gradient(90deg, #0B486B 0%, rgba(42, 92, 222, 0.46748) 0%, rgba(46, 96, 223, 0.457786) 9.38%, rgba(11, 72, 107, 0) 42.71%), #479E9E;
            color: white;
        }
    }

}

.sidedbar-mini{
    display: none;
    background-color: #3B8686;
    width: 100px;
    min-width: 100px;
    min-height: 100vh;
    height: 100vh;
    text-align: center;
    &.showMini{
        display: block;
        transition: all linear 5s;
    }
    .mini-botones{
        margin: 10px;
        .menu-btn-mini{
            display: none;
        }
        .contenedor-barra{
            font-size: 3rem;
            color: #c4c4c4;
        }
        .contenedor-mini-botones{
            padding-top: 20vh;
            .boton-slider-mini{
                background-color: #3B8686;
                color: #c4c4c4;
                font-size: 2rem;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 80px;
                min-width: 80px;
                height: 60px;
                min-height: 60px;
                border-radius: 10px;
                border: 0;
            }
            .activo-mini{
                background: linear-gradient(90deg, #0B486B 0%, rgba(42, 92, 222, 0.46748) 0%, rgba(46, 96, 223, 0.457786) 9.38%, rgba(11, 72, 107, 0) 42.71%), #479E9E;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .contenedor-dashboard{
        .sidebar-dashboard{
            width: 205px;
            min-width: 205px;
            .contenedor-decorador{
                width: 100%;
                height: 20vh;
                .decorador{
                    background-color: #0B486B;
                    width: 100%;
                    height: 150px;
                }
                .circulo-grande{
                    position: absolute;
                    background-color: #0B486B;
                    width: 200px;
                    height: 200px;
                    border-radius: 190px 190px 190px 190px;
                    top:34px;
                    left:-47px;
                }
                .circulo-pequeño{
                    background-color: #3B8686;
                    width: 53px;
                    height: 106px;
                    left: 74.3%;
                    top:100px ;
                }
                .logo{
                    width: 120px;
                    height: 120px;
                }
                .nombre-logo{
                    top:140px;
                    left: 16%;
                }
                label{
                    position: absolute;
                    top: 15px;
                    left: 170px;
                    
                    font-size: 2.5rem;
                    color: #c4c4c4;
                }
            }
            .contenedor-botones{
                margin-left: 0;
                .boton-slider{
                    margin: 0;
                    width: 170px;
                    font-size: 1rem;
                }
                i{
                    font-size: 2rem;
                }

            }
        }
    }
    
}

@media only screen and (max-width: 768px) {
    .contenedor-dashboard{
        .sidebar-dashboard{
            width: 205px;
            min-width: 205px;
            .contenedor-decorador{
                width: 100%;
                height: 26.6vh;
                .decorador{
                    height: 140px;
                }
                .circulo-grande{
                    width: 210px;
                    height: 210px;
                    left:-45px;
                    
                }
                .circulo-pequeño{
                    top: 100px;
                    left: 165px;
                    width: 40px;
                    height: 80px;
                }
            }
        }
    }
    
}

//////////////////////////////////////header////////////////////////////////////

.header-dashboard{
    background-color: #0B486B;
    max-width: 100%;
    width: 100%;
    max-height: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .line{
        background-color: rgba(255, 255, 255, 0.4);
        height: 78px;
        width: 2px;
    }

    .boton-noti{
        width: 60px;
        min-width: 60px;
        height: 60px;
        min-height: 60px;
        background: rgba(16, 96, 141, 0.83);
        border-radius: 18px;
        border: 0;
        margin: 10px;

        font-size: 2rem;
        color: white;
    }

    .usuario{
        margin: 10px;
        display: flex;
        width: 230px;
        img{
            border-radius: 100%;
            width: 75px;
            height: 75px;
            margin: 5px;

            border: 3px solid #37a133
        }
        .type-text{
            color: white;
            font-family: Merriweather;
            text-align: right;
            margin: 10px;
        }
        .rol{
            margin-bottom: 10px;
            margin-top: 0;
            font-size: 14px;
        }
        .name{
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 20px;
        }
    }
}

