<div class="contenedor">
   <header>
       <span>
           <img src="../../../assets/img/01-cabecera/policiasLogo3.png" alt="">
           <p>Sumaq<br>Yachay</p>
           
           <input type="checkbox" class="menu-btn" id="menu-btn">
           <label for="menu-btn" class="menu-icon">
               <span class="menu-icon__line"></span>
           </label>


       </span>
       <nav>
           <ul>
               <li><a href="#" class="link">Inicio</a></li>

               <li><a href="#" class="link">Acerca de</a></li>

               <li><a href="#" class="link">Contactos</a></li>

               <li><a href="#" class="link">Cursos</a></li>

               <li><a href="#" class="boton">Ingresar</a></li>
           </ul>
       </nav>
   </header>
</div>

<ng-template #name>
    <div class="modal-header">
        <h4 class="modal-title">Titulo modal</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismissAll()"></button>
    </div>
</ng-template>
