<div class="contenedor">
   <header>
       <span>
           <img src="../../../assets/img/01-cabecera/policiasLogo3.png" alt="">
           <p>Sumaq<br>Yachay</p>
           
           <input type="checkbox" class="menu-btn" id="menu-btn">
           <label for="menu-btn" class="menu-icon">
               <span class="menu-icon__line"></span>
           </label>


       </span>
       <nav>
           <ul>
               <li><a href="#" class="link">Inicio</a></li>

               <li><a href="#" class="link">Acerca de</a></li>

               <li><a href="#" class="link">Contactos</a></li>

               <li><a href="#" class="link">Cursos</a></li>

               <li><button type="button" class="boton" (click)="open(content)">Ingresar</button></li>
           </ul>
       </nav>
   </header>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
      <div class="cabecera-modal">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="circulo-modal"></div>
      <div class="pie-modal"></div>
    </div>
</ng-template>
