<div class="contenedor">
  <header>
    <span>
      <img src="../../../assets/img/01-cabecera/policiasLogo3.png" alt="">
      <p>Sumaq<br>Yachay</p>
           
      <input type="checkbox" class="menu-btn" id="menu-btn">
      <label for="menu-btn" class="menu-icon" (click)="openHeader()">
        <span class="menu-icon__line"></span>
      </label>
    </span>
    <nav class="header-menu" [class] = "{'show': header}">
      <ul class="menu">
        <li><a href="#" class="link">Inicio</a></li>

        <li><a href="#" class="link">Acerca de</a></li>

        <li><a href="#" class="link">Contactos</a></li>

        <li><a href="#" class="link">Cursos</a></li>

        <li><button type="button" class="boton" (click)="open(content)">Ingresar</button></li>
      </ul>
    </nav>
  </header>
</div>

<!--//////////////////////////////////Modal de login//////////////////////////////////////////-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">

    <div class="cabecera-modal">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="circulo-modal"></div>

    <div class="pie-modal">

      <p class="titulo-modal">Inicio de sesion</p>
      
      <form action="#" class="form-content">

        <div class="group-icon">
          <input type="text" class="form-input" placeholder="&nbsp; &nbsp; Username ">
          <span class="form-icon">
            <i class="far fa-user"></i>
          </span>
        </div>

        <div class="group-icon">
          <input type="password" class="form-input" placeholder="&nbsp; &nbsp; Password ">
          <span class="form-icon">
            <i class="fas fa-lock"></i>
          </span>
        </div>

        <div class="olvido">
          <input type="checkbox" id="#">
          <label for="#" class="texto-checkbox">
             <p style="color: white;" class="noolvido">No  olvidar contraseña</p>
          </label>
          <a href="#" class="olvidado" >¿Olvidaste tu contraseña?</a>
        </div>

        <button type="button" class="boton-login">Ingresar</button>
        <p style="color: white;" class="registro">
          Aun no te haz registrado? 
          <button class="record" (click)="open2(record)" (click)="d('Cross click')">
            <a href="#" style="color: white;" >Registrate aqui...</a>
          </button>
        </p>
        
      </form>
    </div>

  </div>
</ng-template>

<!--//////////////////////////////Modal de registro//////////////////////////////////////////-->

<ng-template #record let-c="close" let-d="dismiss">
  <div class="modal-body">

    <div class="cabecera-record">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>

      <div class=" container barra-carga">
        <div class="row">
          <div class="col">
            <button class="circulo-obscuro" *ngIf="step > 0" (click)="selectpasos(1)"></button>
          </div>
          <div class="col linea">
            <div class="linea-claro" *ngIf="step < 2"></div>
            <div class="linea-obscuro" *ngIf="step > 1"></div>
          </div>

          <div class="col ">
            <button class="circulo-claro" *ngIf="step < 2" (click)="selectpasos(2)"></button>
            <button class="circulo-obscuro" *ngIf="step > 1" (click)="selectpasos(2)"></button>
          </div>
          <div class="col linea">
            <div class="linea-claro" *ngIf="step < 3"></div>
            <div class="linea-obscuro" *ngIf="step > 2"></div>
          </div>

          <div class="col">
            <button class="circulo-claro " *ngIf="step < 3" (click)="selectpasos(3)"></button>
            <button class="circulo-obscuro" *ngIf="step > 2" (click)="selectpasos(3)"></button>
          </div>
          <div class="col linea">
            <div class="linea-claro" *ngIf="step < 4"></div>
            <div class="linea-obscuro" *ngIf="step > 3"></div>
          </div>

          <div class="col">
            <button class="circulo-claro" *ngIf="step < 4" (click)="selectpasos(4)"></button>
            <button class="circulo-obscuro"*ngIf="step > 3" (click)="selectpasos(4)"></button>
          </div>
          
        </div>
      </div>

      <div class="contenedor-frase">
        <p class="frase" *ngIf="step == 1">La mejor forma de predecir el futuro es crearlo.</p>
        <p class="frase" *ngIf="step == 2">Ten paciencia, todos aprendemos a nuestro propio ritmo.</p>
        <p class="frase" *ngIf="step == 3">Nunca se ha logrado nada sin entusiasmo.</p>
        <p class="frase" *ngIf="step == 4">El éxito es la suma de pequeños esfuerzo repetidos día tras día.</p>
      </div>

    </div>

    <div class="pie-record">

      <form action="" class="form-record">

        <div class="informacion-personal" *ngIf="step == 1">

          <p class="titulo-personal">Informacion personal</p>

          <div class="row">
            <div class="col columna-nombre">
              <p class="nombre-personal">Nombre Completo </p>
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 columna-input">
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; Nombres ">
            </div>
            <div class="col-12 col-md-6 columna-input">
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; Apellidos ">
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">DNI </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; DNI ">
            </div>
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Nacimiento </p>
              <input type="date" class="input-nombre" placeholder="&nbsp; &nbsp; " min="1950-01-01">
            </div>
          </div>

        </div>

        <div class="informacion-escolar" *ngIf="step == 2">
          <p class="titulo-personal">Informacion escolar</p>

          <div class="row">
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Institucion educativa </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; Institucion educativa">
            </div>
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Nombre de institucion </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; Nombre de la institucion">
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Instruccion </p>
              <select  class="input-nombre selector" >
                <option value="Inicial">Inicial</option>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
                <option value="General">Publico general</option>
              </select>
            </div>
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Grado </p>
              <select  class="input-nombre selector" >
                <option value="Inicial">Inicial</option>
                <option value="Primaria">Primaria</option>
                <option value="Secundaria">Secundaria</option>
                <option value="General">Publico general</option>
              </select>
            </div>
          </div>

        </div>

        <div class="Informacion-correo" *ngIf="step == 3">
          <p class="titulo-personal">Correo</p>

          <div class="row">
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">E-mail </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; E-mail">
            </div>
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Telefono celular </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; Telefono celular">
            </div>
          </div>

          <div class="row">
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Contraseña </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; contraseña">
            </div>
            <div class="col-12 col-md-6 columna-input">
              <p class="nombre-personal">Confirma contraseña </p>
              <input type="text" class="input-nombre" placeholder="&nbsp; &nbsp; confirma contraseña">
            </div>
          </div>

        </div>

        <div class="carta-compromiso" *ngIf="step == 4">
          <p class="titulo-personal">Carta compromiso</p>
          <p class="nombre-personal">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
             velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
            ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
             velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
            sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
        </div>

        <div class="seccion-botones">
          <hr color="#c4c4c4" size="3" width="90%">
          <div class="row">
            <div class="col-12 col-md-6 columna-izquierda">
              <p style="color: white;" class="registro" *ngIf="step == 1">
                Ya tienes cuenta? 
                <button class="record" (click)="open(content) " (click)="d('Cross click')">
                  <a href="#" style="color: white;" >Ingresa aqui...</a>
                </button>
              </p>
              <button type="button" class="boton-login" *ngIf="step > 1" (click)="pasos(-1)">Regresar</button>
            </div>
            <div class="col-12 col-md-6 columna-derecha">
              <button type="button" class="boton-login" *ngIf="step > 0 && step < 4" (click)="pasos(+1)">Siguiente</button>
              <button type="button" class="boton-login" *ngIf="step == 4">Acepto</button>
            </div>
          </div>
        </div>
        
      </form>

    </div>


  </div>
</ng-template>